name: Python Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "latest"

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      - name: Lint
        run: |
          pip install black isort flake8
          black scripts
          isort scripts
          flake8 --max-line-length=120 scripts
